@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pagination {
  @apply flex justify-center space-x-2;
}

.pagination__link {
  @apply px-3 py-2 mx-5 border border-gray-300 rounded text-sm text-white bg-black;
}

.pagination__link--active {
  @apply text-white bg-blue-500 border-transparent px-2;
}

.pagination__link--disabled {
  @apply text-gray-300 border-gray-200 cursor-not-allowed;
}